.Side
  .Side__header
    .UserName
      %h1 masa
      .UserName__btn
        = link_to "#", class: "UserName__btn__list" do
          = icon('far', 'edit')
          %span<>
        = link_to "#", class: "UserName__btn__list" do
          = icon('fas','cog')
  .Side__group
    .Side__group__list      
      %h2 techcamp
      %p まだメッセージがありません  
    .Side__group__list      
      %h2 techcamp
      %p まだメッセージがありません  
    .Side__group__list      
      %h2 techcamp
      %p まだメッセージがありません  
    